*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: ;
}
/* header */

header{
    border-bottom: 1px solid #d7d7d7;
}
.topo{
    background-color: #F8F9FA;
    height: 80px;
    transition: 0.5s ease-in-out;
}
.container-top{
    height: 100%;
}
.row-top{
    position: relative;
    height: 100%;
}
.toggle-cor-fundo{
    position: absolute;
    top: 35%;
    right: -10%;
}
.theme-switch {
    --toggle-size: 10px;
    /* the size is adjusted using font-size,
       this is not transform scale,
       so you can choose any size */
    --container-width: 5.625em;
    --container-height: 2.5em;
    --container-radius: 6.25em;
    /* radius 0 - minecraft mode :) */
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 2.125em;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
  }
  
  .theme-switch, .theme-switch *, .theme-switch *::before, .theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
  }
  
  .theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }
  
  .theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
  }
  
  .theme-switch__checkbox {
    display: none;
  }
  
  .theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
  }
  
  .theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  .theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }
  
  .theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  }
  
  .theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
  }
  
  .theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
  }
  
  .theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  }
  
  .theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  /* actions */
  
  .theme-switch__checkbox:checked + .theme-switch__container {
    background-color: var(--container-night-bg);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
  }
  
  .theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }



.nav-link{
    font-weight: 600;
    position: relative;
}
.nav-link::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #EE0159;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 1s ease-in-out;
}
.nav-link:hover::after{
    width: 100%;
}
.active{
    color: #DC3545;
}
.nav-link:hover{
    color: #DC3545;
    transition: all .3s;
}
.nav-item{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 15px;
}
.icon-github:hover{
    transform: scale(1.2);
    transition: .8s;
}

/* fim header */

/* Máquina de escrever */

#efeito-escrever{
    min-height: 300px;
    background-image: url('../img/bg-hab-dois.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.banner-bg{
    transition: 0.5s ease-in-out;
}
.maq-escrever{
    min-height: 300px;
    font-family: "Special Elite", system-ui;
    font-size: 2rem;
}
.line-1{
    overflow: hidden;
    animation: escrever 6s steps(50) 1s;
    white-space: nowrap;
    max-width: 975px;
}

.line-1::after{
    content: "|";
    font-size: 2.5rem;
    opacity: 1;
    margin-left: 5px;
    animation: piscar .7s steps(40) infinite normal
}



@keyframes piscar{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@keyframes escrever{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

/* fim máquina de escrever */

/* about */

#about{
    min-height: 500px;
    background-color: rgba(255, 255, 255);
    position: relative;
    transition: 0.5s ease-in-out;
}
@keyframes aparecerEsquerda {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes aparecerDireita {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.animacao-aparecer-esquerda {
    opacity: 0;
    transform: translateY(20px);
    animation: aparecerEsquerda 4s ease forwards;
}
.animacao-aparecer-direita {
    opacity: 0;
    transform: translateY(20px);
    animation: aparecerDireita 4s ease forwards;
}

.title-content{
    background-color: #fff;
    color: #DC3545;
    border: 2px solid #DC3545;
    font-weight: 700;
    padding: 25px 100px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    top: -25px;
    right: 42%;
}
.title-hab{
    color: #DC3545;
    font-weight: 400;
    font-size: 3rem;
}
.title-about{
    position: relative;
    font-size: 3rem;
    display: inline-block;
}
.title-about::after{
    content: " ";
    margin: -9px -5%;
    width: 100%;
    height: 6px;
    background-color: #DC3545;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.text-about{
    color: #191919;
    text-align: justify;
}
.img-about{
    max-width: 350px !important;;
}
.img-perfil {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .img-perfil::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 335px;
    height: 335px;
    border-radius: 10px;
    background: linear-gradient(-180deg, #d7d7d7 0%, #DC3545 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .img-perfil::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #d7d7d7 0%, #DC3545 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .img-perfil:hover::after {
    filter: blur(30px);
  }
  
  .img-perfil:hover::before {
    transform: rotate(-90deg) scaleX(1) scaleY(1);
  }
  .img-perfil img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }


/* fim about */


/* Habilidades */


#habilidades{
    background: #f6f6f6;
    position: relative;
    background-image: url('../img/home-alternative.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-hab{
    background-color: rgba(255, 255, 255, .2);
    transition: 0.5s ease-in-out;
}
.content-hab{
    padding-top: 50px !important;
}
.title-hab{
    position: relative;
}
.title-hab::after{
    content: " ";
    margin: -9px -5%;
    width: 70%;
    height: 6px;
    background-color: #DC3545;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.meuCard {
    display: flex;
    justify-content: center;
    transition: filter 0.3s;
    margin-top: 100px;
    width: 150px;
    background-color: rgba(255, 255, 255, .8);
    color: #DC3545;
    font-weight: normal;
    transition: filter 0.3s; /* Adiciona uma transição suave */
  }

  .meuCard:hover {
    filter: none; /* Remove o filtro quando o mouse está sobre o card */
    transform: scale(1.2);
    transition: all 1s;
  }
  
  .meuCard.apagado {
    filter: grayscale(100%); /* Aplica o efeito de apagado */
  }

  .tools {
    display: flex;
    align-items: center;
    padding: 0 9px 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
.card-text{
    font-weight: 700;
}
.card-img-hab{
    width: 70px;
    height: 70px;
    margin: 20px;
}
.btn{
    font-weight: 700;
}
.links-redes button{
    padding: 15px 35px;
}




.modal-body input:focus, .modal-body textarea:focus{
    box-shadow: none;
    border: 2px solid #DC3545;
}

/* fim habilidades */



/* Projetos */

#projetos{
    background-image: url('../img/bg-hab-dois.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 600px;
}
.bg-projetos{
    transition: 0.5s ease-in-out;
}
.title-projetos h2{
    text-align: center;
    font-size: 3rem;
}
.text-projeto{
    position: relative;
}
.text-projeto::after{
    content: " ";
    margin: -9px -5%;
    width: 160px;
    height: 6px;
    background-color: #DC3545;
    position: absolute;
    bottom: 0;
    left: 45%;
}
.card-projeto{
    width: 35rem !important;
    border-radius: 25px;
    box-shadow: 8px 8px 5px #d7d7d7;
}
.card-img-projeto{
    border-radius: 25px 25px 0 0;
}




/* Trajetória */
#trajetoria{
    padding-top: 300px;
    background-color: rgba(255, 255, 255, 1);
    transition: 0.5s ease-in-out;
}




#rodape{
    padding-top: 300px;
    background-color: #d7d7d7;
    transition: 0.5s ease-in-out;
}








/* Media queries */

@media (max-width:500px){
    .navbar-mobile{
        width: 50% !important;
        position: absolute; 
        top: 80px; 
        right: 0;
        background-color: rgba(25, 25, 25, .9);
        display: flex;
        justify-content: center;
        border-bottom-left-radius: 30px;
        
    }
    .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .nav-item{
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #d7d7d7;
    }
    .nav-link{
        color: #d7d7d7;
    }
    .link-last{
        border: none;
    }
    .nav-item:hover{
        background-color: unset;
    }
    .title-content{
        right: 13%;
    }
    .content-about{
        flex-direction: column-reverse;
    }
    #efeito-escrever{
        min-height: 250px;
    }
    .maq-escrever{
        min-height: 250px !important;
    } 
    .line-1 {
        text-align: center;
        white-space: pre-wrap;
        animation: none;
    }
    #about{
        padding-bottom: 60px;
    }
    .title-hab{
        right: 12%;
    }
}