*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: ;
}
/* header */

header{
    border-bottom: 1px solid #d7d7d7;
}
.topo{
    background-color: #F8F9FA;
    height: 80px;
}
.container-top{
    height: 100%;
}
.row-top{
    height: 100%;
}
.nav-link{
    font-weight: 600;
    position: relative;
}
.nav-link::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #EE0159;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 1s ease-in-out;
}
.nav-link:hover::after{
    width: 100%;
}
.active{
    color: #DC3545;
}
.nav-link:hover{
    color: #DC3545;
    transition: all .3s;
}
.nav-item{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 15px;
}
.nav-item:hover{
    background-color: #f6f6f6;
}
.icon-github:hover{
    transform: scale(1.2);
    transition: .8s;
}

/* fim header */

/* Máquina de escrever */

#efeito-escrever{
    min-height: 300px;
    background-image: url('../img/bg-hab-dois.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.banner-bg{
}
.maq-escrever{
    min-height: 300px;
    font-family: "Special Elite", system-ui;
    font-size: 2rem;
}
.line-1{
    overflow: hidden;
    animation: escrever 6s steps(50) 1s;
    white-space: nowrap;
    max-width: 975px;
}

.line-1::after{
    content: "|";
    font-size: 2.5rem;
    opacity: 1;
    margin-left: 5px;
    animation: piscar .7s steps(40) infinite normal
}



@keyframes piscar{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@keyframes escrever{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

/* fim máquina de escrever */

/* about */

#about{
    min-height: 500px;
    background-color: rgba(25, 25, 25);
    position: relative;
}
@keyframes aparecerEsquerda {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes aparecerDireita {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.animacao-aparecer-esquerda {
    opacity: 0;
    transform: translateY(20px);
    animation: aparecerEsquerda 4s ease forwards;
}
.animacao-aparecer-direita {
    opacity: 0;
    transform: translateY(20px);
    animation: aparecerDireita 4s ease forwards;
}

.title-content{
    background-color: #fff;
    color: #DC3545;
    border: 2px solid #DC3545;
    font-weight: 700;
    padding: 25px 100px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    top: -25px;
    right: 42%;
}
.title-hab{
    color: #DC3545;
    font-weight: 400;
    font-size: 3rem;
}
.title-about{
    position: relative;
    font-size: 3rem;
    display: inline-block;
}
.title-about::after{
    content: " ";
    margin: -9px -5%;
    width: 100%;
    height: 6px;
    background-color: #DC3545;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.text-about{
    color: #fff;
    text-align: justify;
}
.img-about{
    max-width: 350px !important;;
}
.img-perfil {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .img-perfil::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 335px;
    height: 335px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #d7d7d7 0%, #DC3545 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .img-perfil::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #d7d7d7 0%, #DC3545 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .img-perfil:hover::after {
    filter: blur(30px);
  }
  
  .img-perfil:hover::before {
    transform: rotate(-90deg) scaleX(1) scaleY(1);
  }
  .img-perfil img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }


/* fim about */


/* Habilidades */


#habilidades{
    background: #f6f6f6;
    position: relative;
    background-image: url('../img/home-alternative.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-hab{
    background-color: rgba(25, 25, 25, .7);
}
.content-hab{
    padding-top: 50px !important;
}
.title-hab{
    position: relative;
}
.title-hab::after{
    content: " ";
    margin: -9px -5%;
    width: 70%;
    height: 6px;
    background-color: #DC3545;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.meuCard {
    display: flex;
    justify-content: center;
    transition: filter 0.3s;
    margin-top: 100px;
    width: 150px;
    background-color: rgba(25, 25, 25, .8);
    color: #DC3545;
    font-weight: normal;
    transition: filter 0.3s; /* Adiciona uma transição suave */
  }

  .meuCard:hover {
    filter: none; /* Remove o filtro quando o mouse está sobre o card */
    transform: scale(1.2);
    transition: all 1s;
  }
  
  .meuCard.apagado {
    filter: grayscale(100%); /* Aplica o efeito de apagado */
  }

  .tools {
    display: flex;
    align-items: center;
    padding: 0 9px 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
.card-text{
    font-weight: 700;
}
.card-img-hab{
    width: 70px;
    height: 70px;
    margin: 20px;
}
.btn{
    font-weight: 700;
}
.links-redes button{
    padding: 15px 35px;
}




.modal-body input:focus, .modal-body textarea:focus{
    box-shadow: none;
    border: 2px solid #DC3545;
}

/* fim habilidades */



/* Projetos */

#projetos{
    background-image: url('../img/bg-hab-dois.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 600px;
}
.title-projetos h2{
    text-align: center;
    font-size: 3rem;
}
.text-projeto{
    position: relative;
}
.text-projeto::after{
    content: " ";
    margin: -9px -5%;
    width: 160px;
    height: 6px;
    background-color: #DC3545;
    position: absolute;
    bottom: 0;
    left: 45%;
}
.card-projeto{
    width: 35rem !important;
    border-radius: 25px;
    box-shadow: 8px 8px 5px #d7d7d7;
}
.card-img-projeto{
    border-radius: 25px 25px 0 0;
}




/* Trajetória */
#trajetoria{
    padding-top: 300px;
    background-color: rgba(25, 25, 25, 1);
}




#rodape{
    padding-top: 300px;
    background-color: #000;
}








/* Media queries */

@media (max-width:500px){
    .navbar-mobile{
        width: 50% !important;
        position: absolute; 
        top: 80px; 
        right: 0;
        background-color: rgba(25, 25, 25, .9);
        display: flex;
        justify-content: center;
        border-bottom-left-radius: 30px;
        
    }
    .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .nav-item{
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #d7d7d7;
    }
    .nav-link{
        color: #d7d7d7;
    }
    .link-last{
        border: none;
    }
    .nav-item:hover{
        background-color: unset;
    }
    .title-content{
        right: 13%;
    }
    .content-about{
        flex-direction: column-reverse;
    }
    #efeito-escrever{
        min-height: 250px;
    }
    .maq-escrever{
        min-height: 250px !important;
    } 
    .line-1 {
        text-align: center;
        white-space: pre-wrap;
        animation: none;
    }
    #about{
        padding-bottom: 60px;
    }
    .title-hab{
        right: 12%;
    }
}